{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">

            {% if product.metafields.custom_fields["yolo"] != blank %}
            <div class="custom-field custom-field__yolo custom-field__type--text">
                <h3 class="custom-field--title">Yolo</h3>
                <div class="custom-field--value">{{ product.metafields.custom_fields["yolo"] }}</div>
              </div>
            {% endif %}

            {% if product.metafields.custom_fields["creator_size"] != blank %}
            <div class="custom-field custom-field__creator-size custom-field__type--text">
                <h3 class="custom-field--title">Creator Size</h3>
                <div class="custom-field--value">{{ product.metafields.custom_fields["creator_size"] }}</div>
              </div>
            {% endif %}
</div>