<section class="drawer drawer--bigHeader drawer--right drawer--dark drawer--small returns-drawer" id="returns-drawer">
    <a class="drawer__backdrop" href="#close-drawer" title="Close Drawer"></a>
    <div class="drawer__frame">
        <div class="drawer__header">
            <div class="drawer__headerContent">
                <h2 class="title title--small">Returns Policy</h2>
            </div><a class="drawer__close close close--medium" href="#close-drawer" title="Close Drawer"></a>
        </div>
        <div class="drawer__scroller">
            <div class="drawer__content drawer__content--padded">
                <ul class="returns-drawer__list">
                    <li class="returns-drawer__listItem">All returns are free of charge.</li>
                    <li class="returns-drawer__listItem">Merchandise must be returned within 15 days.</li>
                    <li class="returns-drawer__listItem">Merchandise must not be worn, altered, or washed.</li>
                    <li class="returns-drawer__listItem">Merchandise must have all tags attached and be returned in original packaging.</li>
                    <li class="returns-drawer__listItem">Merchandise returned without the original security tag, or a damaged security tag, may result in a delayed refund or may not qualify for a refund.</li>
                    <li class="returns-drawer__listItem">Footwear must include the original shoe box in its original condition, without postal labels. Shoe box fees are charged when footwear is returned in a damaged shoe box, or without the original shoe box.</li>
                    <li class="returns-drawer__listItem">Fine jewelry, handmade items, custom and monogrammed items, and items listed as final sale may not be returned</li>
                </ul>
            </div>
        </div>
    </div>
</section>