<a  style="display: none;" class="link link--thick" href="#CartDrawer">Cart Drawer</a>
<section id="CartDrawer" class="drawer drawer--bigHeader drawer--right drawer--dark drawer--small CartDrawer" data-cart-view="data-cart-view">
    <a class="drawer__backdrop" href="#close-drawer" title="Close Drawer"></a>
    <div class="drawer__frame">
        <div class="drawer__header">
            <div class="drawer__headerContent">
                <h2 class="title title--small">Shopping Bag</h2>
            </div><a class="drawer__close close close--medium" href="#close-drawer" title="Close Drawer"></a>
        </div>
        <div class="drawer__scroller">
           <div class="basket-mini">
                <div class="basket-mini__col basket-mini__col--content" rv-show="cart.item_count | gt 0">
                    <div style="width: 100%;" class="basket-mini__col basket-mini__col--total">
                        <div class="basket-mini__colGroup">
                            <p class="basket-mini__totalTitle subtitle subtitle--small">Subtotal</p>
                            <p class="basket-mini__totalPrice title title--small" rv-text="cart.total_price | money Currency.currentCurrency"></p>
                            <p class="basket-mini__totalNote">Excluding tax & shipping</p>
                            <div class="basket-mini__actions">
                                <a class="cta cta--dark cta--block" href="/cart/">Checkout</a>
                            </div>
                            <div class="basket-mini__actions">
                                <a class="cta cta--block"  href="#close-drawer">Continue Shopping</a>
                            </div>

                        </div>
                    </div>
                    
                    <ul class="basket-mini__productList" rv-show="cart.item_count | gt 0">
                        <li rv-each-item="cart.items" class="basket-mini__productListItem">
                            <a class="u-block" rv-href="item.url">
                            <figure class="order-summary__product">
                                <div class="order-summary__productVisual">
                                    <div class="img-container img-container--square"><img rv-alt="item.product_title" class="thumbnail" rv-src='item.image | img_url'></div>
                                </div>
                                <figcaption class="order-summary__productContent">
                                    <p class="order-summary__productName" rv-text="item.product_title"></p>
                                    <p class="order-summary__productName">Qty : <span rv-text="item.quantity"></span></p>
                                    <p class="order-summary__productName">Size : <span rv-each-option="item.variant_options.0">{option}</span>
                                    </p>
                                    <p class="order-summary__productPrice" rv-text="item.price | money Currency.currentCurrency"></p>
                                </figcaption>
                            </figure></a>
                        </li>
                    </ul>
                        
                    <div rv-show="cart.item_count | lt 1" class="basket-mini__emptyMessage">
                        <p class="missing missing--matchColor">Your bag is currently empty.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>