<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

<div class="grid grid--borderTopLess">
    <div class="grid__sidebar color-context color-context--account u-desktop-only">
        <div class="categories nested-lists">
            <ul class="nested-lists__list">
                <li class="nested-lists__item">
                    <a class="categories__link is-active" href="/account?view=reset_password">Password Reset</a>
                </li>
                {% comment %}<li class="nested-lists__item">
                    <a class="categories__link" href="/account/addresses">My Addresses</a>
                </li>{% endcomment %}
                <li class="nested-lists__item">
                    <a class="nested-lists__link categories__link" href="/account?view=edit">Edit Account Info</a>
                </li>
                <li class="nested-lists__item">
                    <a class="nested-lists__link categories__link" href="/account">My Account</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid__main">
        <div class="grid__banner">
            <h1 class="title title--caps">{{ customer.first_name }}<br>
            {{ customer.last_name }}</h1>
        </div>
        <div class="grid__header">
            <div class="grid__headerTitle u-desktop-only">
                <h2 class="title title--small">Password Reset</h2>
            </div>
            <div class="grid__headerNav">
                <div class="grid__headerNavGroup">
                    <div class="select select--borderLess u-mobile-only">
                        <select class="select-nav">
                            <option value="/account?view=reset_password" selected="selected">
                                Password Reset
                            </option>
                            <option value="/account?view=edit">
                                Edit Profile
                            </option>
                            {% comment %}                            
                            <option value="/account/addresses">
                                My Addresses
                            </option>
                            {% endcomment %}
                            <option value="/account">
                                My Account
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__content">
            <div class="register">
                <section class="register__header">
                    <div class="container container--narrow">
                        <p>We will send you an email to reset your password. Just email to request a change at<a class="link" href="mailto:support@unlabel.us">support@unlabel.us</a> with your first and last name.</p>
                    </div>
                </section>
            {% comment %}    <hr>
                <section class="register__main">
                    <div class="container container--narrow">

                        {% form 'recover_customer_password' %}
                            {{ form.errors | default_errors }}
                            
                            <div class="form form--m-2 form-stacked">
                                <div class="form__row">
                                    <div class="form-group form__group">
                                        <label class="form__label control-label required" for="RecoverEmail" >Your Email</label>
                                        <div class="form__field">
                                            <input type="email" name="email" id="RecoverEmail" class="form-control" {% if form.email %} value="{{ form.email }}"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form__actions">
                                    <button class="cta cta--dark" name="registration_submit" type="submit">Submit</button>
                                </div>
                                <p class="form__alternative">Remember your password? <a class="link" href="/account/login/">Log in</a></p>
                            </div>
                        {% endform %}
                    </div>
                </section>{% endcomment %}
            </div>
            
            <div class="u-mobile-only">
                <hr>
                <div class="container container--pad24 container--medium container--left">
                    <a class="link" href="/account/logout/">Sign out</a>
                </div>
            </div>
        </div>
    </div>
</div>