<!-- /templates/customers/login.liquid -->
<section class="connect connect--page">
    <div class="container">
        <div class="cols cols--m-2">
            <div class="col connect__option connect__option--register">
                <div>
                    <div class="connect__optionHeader">
                        <h2 class="title title--small">I’m a new customer</h2>
                    </div>
                    <p>Creating an account is simple and easy. An account will allow you to follow brands updates, add products to your wishlist, manage your personal details and more. Follow the next quick steps to set up your account today.</p>
                </div>
                <div class="connect__optionFooter">
                    <a class="cta" href="/account/register/">Create an account</a>
                </div>
            </div>
            <div class="col connect__option connect__option--signin">
                {% form 'customer_login' %}
                    <div class="connect__optionHeader">
                        <h2 class=" title title--small">I already have an account</h2>
                    </div>
                    <div class="form__row">
                        <div class="form-group form__group">
                            <label class="form__label col-sm-4 control-label required" for="CustomerEmail">Email address</label>
                            <div class="form__field col-sm-7">
                                <input id="CustomerEmail" class="form-control {% if form.errors contains 'email' %}error{% endif %}" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} type="email">
                            </div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form-group form__group">
                            <label class="form__label col-sm-4 control-label required" for="CustomerPassword">Password</label>
                            <div class="form__field col-sm-7">
                                 <input class="form-control {% if form.errors contains 'password' %}error{% endif %}" name="customer[password]" id="CustomerPassword" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="form__group">
                        <a class="link" href="/pages/password-reset">Forgot password ?</a>
                    </div>
                    <div class="form__actions connect__optionFooter">
                        <button class="cta cta--dark" type="submit">Sign in</button> 
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</section>
