<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="basket__header">
    <div class="container">
        <h2 class="title title--small">Your shopping bag</h2>
    </div>
</div>

<main id="content_inner" class="{{ page_title | handle }}" role="main" data-cart-view="data-cart-view">
    <div rv-show="cart.item_count | gt 0"  class="basket_summary" id="basket_formset_update">
        <div class="basket-item" rv-each-item="cart.items">
            <div class="container">
                <div class="basket-item__row">
                    <div class="basket-item__col basket-item__col--detail">
                        <a class="basket-item__visual u-block" rv-href="item.url">
                        <div class="img-container img-container--square"><img rv-alt="item.product_title"  rv-src='item.image | img_url'></div></a>
                        <div class="basket-item__info">
                            <p class="basket-item__name" rv-text="item.product_title"></p>
                            <p class="basket-item__upc"># <span rv-text="item.id"></span></p>
                            <p class="basket-item__size">Size: <span rv-each-option="item.variant_options.0">{option}</span></p>
                            <p class="basket-item__brand">
                                <a class="link" rv-href="item.vendor | handleize_brand_collection_shopping_bag"><span rv-text="item.vendor"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="basket-item__col u-desktop-only desktop-cart-remove">
                        <div class="basket-item__delete">
                            <a href="#" rv-data-cart-remove="index | plus 1">
                                <div style="display: none;">
                                    Remove
                                </div>
                                <span class="fonticon fonticon--trash fonticon--box"></span>
                            </a>
                        </div>
                    </div>
                    <div class="basket-item__col u-desktop-only desktop-cart-qty-control">
                        <div class="basket-item__quantity">
                            <div class="quantity">
                                <div class="quantity__controls u-desktop-only">
                                    <a class="quantity__btn quantity__btn--less" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" >
                                        <span class="fonticon fonticon--box fonticon--less"></span>
                                    </a>

                                    <input class="quantity__input" type="text" rv-value="item.quantity"> 

                                    <a class="quantity__btn quantity__btn--more" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">
                                        <span class="fonticon fonticon--box fonticon--more"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basket-item__col u-desktop-only desktop-cart-price">
                        <p class="basket-item__price" rv-html="item.line_price | money Currency.currentCurrency"></p>
                    </div>
                </div>
                
                <div class="basket-item__row u-mobile-only mobile-cart">
                    <div class="basket-item__col">
                        <div class="basket-item__quantity">
                            <div class="quantity">
                                <div class="quantity__controls">
                                    <a class="quantity__btn quantity__btn--less" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1" >
                                        <span class="fonticon fonticon--box fonticon--less"></span>
                                    </a>

                                    <input class="quantity__input" type="text" rv-value="item.quantity"> 

                                    <a class="quantity__btn quantity__btn--more" href="#" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">
                                        <span class="fonticon fonticon--box fonticon--more"></span>
                                    </a>
                                </div>
                         {% comment %}       <div class="quantity__selectContainer select select--borderLess u-mobile-only">
                                    <select rv-id="quantitySelect-item.quantity" class="quantity__select" rv-data-current-qty="item.quantity" rv-data-variant-id="item.id">
                                        <option value="0">
                                            0
                                        </option>
                                        <option value="1">
                                            1
                                        </option>
                                        <option value="2">
                                            2
                                        </option>
                                        <option value="3" selected="selected" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">
                                            3
                                        </option>
                                        <option value="4">
                                            4
                                        </option>
                                        <option value="5">
                                            5
                                        </option>
                                        <option value="6">
                                            6
                                        </option>
                                        <option value="7">
                                            7
                                        </option>
                                        <option value="8">
                                            8
                                        </option>
                                    </select>
                                </div>{% endcomment %}
                            </div>
                        </div>
                        <p class="basket-item__price" rv-html="item.line_price | money Currency.currentCurrency"></p>
                    </div>
                    <div class="basket-item__col">
                        <div class="basket-item__delete">
                            <a rv-data-cart-remove="index | plus 1" href="#">
                            <div style="display: none;">
                                Remove
                            </div><span class="fonticon fonticon--trash fonticon--box"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <form rv-show="cart.item_count | gt 0" action="/cart" method="post" novalidate name="basket_formset_checkout" class="basket_summary" id="basket_formset_checkout">
        <div class="basket__footer">
            <div class="basket__footerRow">
                <div class="basket__footerCol basket__footerCol--left">
                    <div class="basket__footerColContent">
                        <div class="basket__couponFormContainer"></div>
                        <p class="basket__footerAsterix note">*Shipping & taxes calculated at checkout</p>
                    </div>
                </div>
                <div class="basket__footerCol basket__footerCol--right">
                    <div class="basket__footerColContent">
                        <p class="basket__totalLabel">Total</p>
                        <p class="basket__total subtitle" rv-html="cart.total_price | money Currency.currentCurrency"></p>
                        <p class="basket__totalAction"><button  type="submit" name="checkout" class="cta cta--light cta--block">Proceed to checkout</button></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="basket__empty" rv-show="cart.item_count | lt 1">
        <div class="container">
            <p class="missing">Your bag is currently empty.</p>
        </div>
    </div>
</main>


{% assign all_collections = linklists.brands %}


<section class="triptych color-context color-context--products">
    <div class="container container--m-pad">
       {% comment %} <div class="triptych__wrapper triptych__wrapper--taller">
                
        <header class="triptych__header">
            <h2 class="title title--caps title--oneWordPerLine">You may also like</h2>
        </header>
        <div class="triptych__content">
            <ul class="cols cols--m-3">

                
            {% for brands in all_collections.links %}

                
                {% for product in brands.object.products limit:3 %}
                                
                         
                                {% if product.available %}
                                    <li class="col">
                                        {% include 'product-grid-item' %}
                                    </li>
                                {% endif %}
                   
             

                {% endfor %} 
            {% endfor %}
        </div>
      
        </div>{% endcomment %}
    </div>
</section>


