<!-- /templates/page.faq.liquid -->

{% comment %} 
  @TODO add page description
{% endcomment %}

<div class="grid">
    <div class="grid__sidebar u-desktop-only">
        <nav class="anchors-nav">
            <ul>
                {% comment %}add js-scrollto to <a></a> --> when smooth animation is on{% endcomment %}
                <!--
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#ul-creator-budget-rates">Budget &amp; Rates</a>
                </li>
            -->
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#creator-selection-process">Creator Selection Process</a>
                </li>
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#sending-products">Sending Products</a>
                </li>
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#content-creation-process">Content Creation Process</a>
                </li>
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#selling-on-unlabel">Selling On UNLABEL.US</a>
                </li>
                <li>
                    <a class="anchors-nav__link smoothscroll" href="#general-questions">General Questions</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="grid__main">
        <div class="grid__banner"></div>
        <div class="grid__header">
            <div class="grid__headerTitle">
                <h1 class="title">Brand FAQ</h1>
            </div>
            <div class="grid__headerNav">
                <div class="grid__headerNavGroup">
                    <div class="select select--borderLess u-mobile-only">
                        <select class="smoothscroll">
                            <!--
                            <option value="#ul-creator-budget-rates">
                                Budget &amp; Rates
                            </option>
                            -->
                            <option value="#creator-selection-process">
                                Creator Selection Process
                            </option>
                            <option value="#sending-products">
                                Sending Products
                            </option>
                            <option value="#content-creation-process">
                                Content Creation Process
                            </option>
                            <option value="#selling-on-unlabel">
                                Selling On UNLABEL.US
                            </option>
                            <option value="#general-questions">
                                General Questions
                            </option>
                        </select>
                    </div>
                </div>
                <div class="grid__headerNavGroup"></div>
            </div>
        </div>
        <div class="grid__content">
            <div class="container container--medium container--left">
                <div class="textual">
                    <h4 class="title title--xs-small">Updated: February 7th, 2018</h4>
                    <!-- Unlabel Creator Budget & Rates -->

                    <!--
                    <section class="textual__section" id="ul-creator-budget-rates">
                        <h2 class="title title--small">Unlabel Creator Budget &amp; Rates</h2>
                        
                        <h3 class="subtitle subtitle--small">What is an Unlabel Creator Budget?</h3>
                        <div>
                            <p>An Unlabel Creator Budget, is the lifetime amount you're willing to spend on content produced by Unlabel Creators.</p>
                        </div> 
                        
                        <h3 class="subtitle subtitle--small">Is there a minimum amount for the Unlabel Creator Budget?</h3>
                        <div>
                            <p>The budget minimum is $100 USD, but is subject to change at anytime.</p>
                        </div> 

                        <h3 class="subtitle subtitle--small">Can I upload products without having an Unlabel Creator Budget?</h3>
                        <div>
                            <p>No, currently at this time you must have a budget to use Unlabel.</p>
                        </div>

                        <h3 class="subtitle subtitle--small">What if my Unlabel Creator Budget runs out?</h3>
                        <div>
                            <p>Once your brand’s Unlabel Creator Budget runs out, if your brand still has products in our Content Creation Marketplace then all your products automatically become denoted as gifted, and will remain active.</p>
                        </div>

                        <h3 class="subtitle subtitle--small">How is a Creator’s rate calculated? i.e. How much will I be charged?</h3>
                        <div>
                            <p>Each Creator’s rate will vary and is calculated by our algorithm. The amount is automatically deducted from your Unlabel Creator Budget. Unfortunately at this time we don’t have an average cost per created content to share, but we will in the near future.</p>
                        </div>
                    </section>
                -->

                    <!-- Unlabel Creator Selection Process -->
                    <section class="textual__section" id="creator-selection-process">
                        <h2 class="title title--small">Unlabel Creator Selection Process</h2>
                        
                        <h3 class="subtitle subtitle--small">How does Unlabel select Creators? What type of Creators do you currently have?</h3>
                        <div>
                            <p>We select creators from all types of creative backgrounds and industries. When selecting creators we focus on aesthetic, quality of content, and overall social media engagement to ensure our creators are of the highest caliber.</p>
                        </div> 

                        <h3 class="subtitle subtitle--small">How do you know the right Creators will select my product?</h3>
                        <div>
                            <p>Your brand’s profile information allows us to match your products with Creators who align with your brand’s aesthetic. This ensures the best pool of Creators is always available to collaborate with your brand.</p>
                        </div>

                        <h3 class="subtitle subtitle--small">Do I have the opportunity to decline a Creator? In case I do not find my style to match theirs (as they’d be freely representing my pieces)</h3>
                        <div>
                            <p>You do not have the opportunity to decline a Creator. We select each of the Creators on our platform with the utmost care, and when pairing Brands and Creators we not only look at the quality and general aesthetic of each Creator’s work, but also consider his/her following and their likelihood to respond positively to the featured pieces. To prevent repeatedly under-performing Creators from continuing partnerships through Unlabel, we have an internal system to prevent potential unsuccessful collaborations.</p>
                        </div>

                        <h3 class="subtitle subtitle--small">What if a creator doesn’t have enough followers? Will they still be effective in promoting my products via their social media channels?</h3>
                        <div>
                            <p>Each Creator is hand-selected by our team. Our selection process takes a number of factors into consideration including, but not limited to, follower count, engagement, networking and relationships, and quality of work. At Unlabel we value Creators and their high-quality content, creativity, and uniqueness. While some of the Creators on our platform may not have tens of thousands of followers, they have authentic relationships with other influencers, photographers, brands, magazines, and their followers. Follower count, although one important factor, is not the end all, be all, and we do not want to limit talented creatives from our platform based solely on that number.</p>
                        </div>
                    </section>

                    <!-- Sending Products to Unlabel Creators -->
                    <section class="textual__section" id="sending-products">
                        <h2 class="title title--small">Sending Products to Unlabel Creators</h2>

                        <h3 class="subtitle subtitle--small">How long do I have to ship out product to creators?</h3>
                        <div>
                            <p>We ask brands to ship products to creators within 48 hours.</p>
                        </div>
                        
                        <h3 class="subtitle subtitle--small">What is your policy on renting products to creators?</h3>
                        <div>
                            <p>All products can be either rented, with the exception of: intimates, shoes &amp; custom items.</p>
                        </div> 

                        <h3 class="subtitle subtitle--small"> What is your policy if the products are returned damaged?</h3>
                        <div>
                            <p>If any damages are assessed by brands upon receipt of the item, Unlabel covers the cost of repair (drying cleaning, washing, etc) or if the item is beyond repair we compensate brands up to the full current retail value of the item, e.g. (If the item is on sale via a brand's platform or else where then the item is covered up to the "highest" available amount)</p>
                        </div>

                        <h3 class="subtitle subtitle--small">Who is responsible for delivering products to the Creator? What happens when I rent out a product?</h3>
                        <div>
                            <p>As of now, brands will be responsible for product delivery. If you opt to rent out a particular product, make sure to provide a return shipping address to the Creator.</p>
                        </div>
                        <!--
                        <h3 class="subtitle subtitle--small">How much is Shipping &amp; Handling to Creators? Is the cost of shipping deducted when a Creator’s fee is assessed?</h3>
                        <div>
                            <p>Shipping costs will vary, and are currently separate from the Creator’s rate. You can use a creator’s address to check the cost of S &amp; H to that specific individual. In the future we will update creator rates to include the cost of S &amp; H.</p>
                        </div>
                        -->
                        <h3 class="subtitle subtitle--small">My products are made to order, so I can’t ship the items out within the suggested time frame, what should I do?</h3>
                        <div>
                            <p>No worries! Just let us know when you’ll be able to ship the items out, and we will update the Creator so they know when to expect your package.</p>
                        </div> 
                    </section>

                    <!-- Content Creation Process -->
                    <section class="textual__section" id="content-creation-process">
                        <h2 class="title title--small">Content Creation Process</h2>
                        
                        <h3 class="subtitle subtitle--small">What is the process for a Creator producing content with a brand’s product?</h3>
                        <div>
                            <p>The Creator has seven days to produce photos or videos wearing the product, and writes a product review detailing their personal experience with the piece (including fit, quality, styling options etc.).</p>
                        </div> 

                        <h3 class="subtitle subtitle--small">How long does it take for Unlabel Creators to create content? When will the content go live?</h3>
                        <div>
                            <p>Once the product has been shipped and you send us the tracking information, we'll forward it to the Creator. From the day the Creator receives the package, he/she has seven days to create content and post it on our marketplace at <a class="links-faq" href="/">unlabel.us</a>, as well as on the social media channels of their choice.</p>

                            <p>Estimated Timeline: <span class="unlabel-bold">Your Fulfillment Time + Estimated Delivery Time + Creator's time = Total time for content to be created and posted</span></p>
                        </div>

                        <h3 class="subtitle subtitle--small">Will I have access to the hi-res content creators produce with my product(s)?</h3>
                        <div>
                            <p>For the time being, Unlabel will allow brands limited access to high-res content for social media re-posting only, which must include the appropriate handles to credit the creator as well as Unlabel in the copy.</p>
                        </div> 
                    </section>

                    <!-- Selling on Unlabel -->
                    <section class="textual__section" id="selling-on-unlabel">
                        <h2 class="title title--small">Selling On UNLABEL.US</h2>
                        
                        <h3 class="subtitle subtitle--small">What is your shipping &amp; returns policy?</h3>
                        <div>
                            <p>We offer free shipping &amp; returns for all shoppers on <a class="links-faq" href="/">unlabel.us</a>. Please view our <a class="links-faq" href="/pages/shopper-faq">shipping policy to our shoppers</a> to get a better understanding.</p>
                        </div>
                    </section>

                    <!-- General Questions -->
                    <section class="textual__section" id="general-questions">
                        <h2 class="title title--small">General Questions</h2>
                        <h3 class="subtitle subtitle--small">What is the difference between Unlabel Content Creation Marketplace (UCCM) &amp; UNLABEL.US?</h3>
                        <div>
                            <p>UCCM is where Creators select which products to create content with, while <a class="links-faq" href="/">unlabel.us</a> is where creators post the created content and drive their audiences to purchase your products.</p>
                        </div>
                        
                        <h3 class="subtitle subtitle--small">I'm a brand and want to have content created for my brand, how do I join Unlabel as a brand?</h3>
                        <div>
                            <p>Just share some <a class="links-faq" href="https://unlabel-us.myshopify.com/pages/for-brands">info</a> with us and someone from our Unlabel Brand Relations team will be in touch.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>