<!-- /templates/page.our-brands.liquid -->
{% comment %} 
  @TODO add page description
{% endcomment %}

{% assign brands = linklists.brands.links %}
{% assign brands_alphabetical_order = brands | sort: 'title' %}


<section class="triptych triptych--contentDesktopOnly color-context color-context--brands">
    <div class="triptych__bg js-animate"></div>
    <div class="container container--m-pad">
        <div class="triptych__wrapper triptych__wrapper--thinner c-mask c-mask-brands">
            <header class="triptych__header">
                <h2 class="title title--destructured title--caps title--oneWordPerLine">Our bra- nds</h2>
            </header>
            <div class="triptych__content u-desktop-only">
                <ul class="cols cols--m-3 ">
                	{% for obj in brands | limit:3 offset:0 %}
	                   {% include 'triptych-block' %}
					{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="grid">
    <div class="grid__sidebar u-desktop-only">
        <div class="filters">
            <div class="filters__category"></div>
        </div> 
    </div>
    <div class="grid__main">
        <div class="grid__banner"></div>
            <div class="grid__header">
                <div class="grid__headerTitle"></div>
                <div class="grid__headerNav">
                    <div class="grid__headerNavGroup">
                        <div>
                            <strong>{{ brands.size }}</strong>&nbsp;{{ linklists.brands.title | downcase }}
                        </div>
                    </div>
                </div>
            </div> 
        <div class="grid__content">
            {% if brands.size > 0 %}
                <ol class="grid__list color-context color-context--brands">
    				{% for obj in brands_alphabetical_order %}
		                <li class="grid__item grid__item--m-2 grid__item--l-3 grid__item--xl-4 js-parallax js-scroll" data-repeat>
		                    <article>
		                        <div class="grid__itemInner">
		                            {% include 'landscape-image-block' %}
		                        </div>
		                    </article>
		                </li>
                    {% endfor %}
                </ol>
            {% else %}
                <div class="grid__emptyMessage">
                    <p class="missing">No brands found.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>