<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

  @TODO add page description

{% endcomment %}
<div class="contact">
    <div class="container">
        <div class="cols cols--m-2">
            <div class="col contact__header">
                <h2 class="title title--caps title--destructured">
{% comment %}                    <span class="u-block">Freq-</span>
                    <span class="u-block">uently</span>
                    <span class="u-block">Asked</span>
                    <span class="u-block">ques-</span>
                    <span class="u-block">tions</span>{% endcomment %}
                    <span class="u-block">FAQ</span>   
                </h2>
                <h3 class="subtitle subtitle--medium contact__subtitle">Our frequently asked questions regarding policies for shoppers, brands &amp; creators.</h3>
            </div>
            <div class="col contact__content">
                <ul class="contact__list">
                    <li class="contact__listItem">
                        <p class="contact__emailLabel"><strong>For Shoppers</strong></p>
                        <a href="/pages/shopper-faq" class="contact_email underline">Shopper FAQ</a>
                    </li>
                    <li class="contact__listItem">
                        <p class="contact__emailLabel"><strong>For Brands</strong></p>
                        <a href="/pages/brand-faq" class="contact_email underline">Brand FAQ</a>
                    </li>
                    <li class="contact__listItem">
                        <p class="contact__emailLabel"><strong>For Creators</strong></p>
                        <a href="/pages/creator-faq" class="contact_email underline">Creator FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
