<!-- /templates/page.our-brands.liquid -->
{% comment %} 
  @TODO add page description
{% endcomment %}
{% assign creators = linklists.creators.links | sort: 'title' %}

<section class="triptych triptych--contentDesktopOnly color-context color-context--creators">
    <div class="triptych__bg"></div>
    <div class="container container--m-pad">
        <div class="triptych__wrapper triptych__wrapper--thinner">
            <header class="triptych__header">
                <h2 class="title title--destructured title--caps title--oneWordPerLine">Our crea tors</h2>
            </header>
            <div class="triptych__content u-desktop-only">
                <ul class="cols cols--m-3">

                    {% for creator in creators | limit:3 offset:0 %}
                        <li class="col">
                            
                            {% include 'creator-image-block' %}
                            
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="grid">
    
    <div class="grid__main">
        <div class="grid__content">
            {% if linklists.creators.links.size > 0 %}
                <ol class="grid__list color-context color-context--creators">
                    
                    {% for creator in creators | offset:3 %}
                            <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5">
                                <article>
                                    <div class="grid__itemInner">
                                       
                                        {% include 'creator-image-block' %}
                                      
                                    </div>
                                </article>
                            </li>
                    {% endfor %}
                </ol>
            {% else %}
                <div class="grid__emptyMessage">
                    <p class="missing">No creators found.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>