<!-- /templates/page.our-brands.liquid -->
{% comment %} 
  @TODO add page description
{% endcomment %}

{% assign creators = linklists.creators.links %}
{% assign creators_alphabetical_order = creators | sort: 'title' %}

<section class="triptych triptych--contentDesktopOnly color-context color-context--creators">
    <div class="triptych__bg js-animate"></div>
    <div class="container container--m-pad">
        <div class="triptych__wrapper triptych__wrapper--thinner">
            <header class="triptych__header">
                <h2 class="title title--destructured title--caps title--oneWordPerLine c-mask">Our crea tors</h2>
            </header>
            <div class="triptych__content u-desktop-only">
                <ul class="cols cols--m-3 c-mask">
                    {% for obj in creators | limit:3 offset:0 %}
                        {% include 'triptych-block' %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="grid">
    <div class="grid__sidebar u-desktop-only">
        <div class="filters">
            <div class="filters__category"></div>
        </div> 
    </div>

    <div class="grid__main">
        <div class="grid__banner"></div>
        <div class="grid__header">
            <div class="grid__headerTitle"></div>
            <div class="grid__headerNav">
                <div class="grid__headerNavGroup">
                    <div>
                        <strong>{{ creators.size }}</strong>&nbsp;{{ linklists.creators.title | downcase }}
                    </div>
                </div>
            </div>
        </div>  
        <div class="grid__content">
            {% if creators.size > 0 %}
                <ol class="grid__list color-context color-context--creators">
                    {% for obj in creators_alphabetical_order %}
                        <li class="grid__item grid__item--s-2 grid__item--l-3 grid__item--xl-4 grid__item--xxl-5 js-parallax js-scroll" data-repeat>
                            <article>
                                <div class="grid__itemInner">
                                    {% include 'portrait-image-block' %}
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <div class="grid__emptyMessage">
                    <p class="missing">No creators found.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>