<!-- /templates/page.for-creators.liquid -->

<div class="color-context color-context--creators">
    <header class="invite__header">
        <div class="container">
            <div class="invite__headerWrapper">
                <div class="invite__headerTitleContainer">
                    <h1 class="title title--caps">Unlabel<br>
                    for<br>
                    CREATORS</h1>
                </div>
                <div class="invite__headerVisualContainer"><img alt="Unlabel for CONTENT CREATORS visual" src="{{ 'invite-creator-header.jpg' | asset_url }}"></div>
            </div>
        </div>
    </header>
    <div class="invite__descContainer">
        <div class="container container--medium">
            <div class="desc">
                Unlabel provides a destination for digital creatives to always have a platform to produce unique content with products from some of the best up and coming independent/emerging brands around the world. 
            </div>
        </div>
    </div>
    <div class="invite__contact">
        <div class="container container--medium">
            <p class="invite__contactWrapper"><span class="invite__contactLabel">For any question regarding<br>
            creator inquiries, please contact</span><br>
            <a href="mailto:creators@unlabel.us">creators@unlabel.us</a></p>
        </div>
    </div>
    <div class="invite__list">
        <div class="container container--medium">
            <div class="cols cols--m-2 cols--m-gutter32">
                <div class="col">
                    <div class="invite__listItem">
                        <h3 class="title title--small uppercase-upper">Discover Products You'll Love</h3>
                        <div class="invite__listItemDesc">
                            As an Unlabel Creator, you get the opportunity to discover new and amazing products from any of our partner brands.
                        </div>
                    </div>
                    <div class="invite__listItem">
                        <h3 class="title title--small uppercase-upper">Build your personal brand &amp; showcase your style</h3>
                        <div class="invite__listItemDesc">
                            Whether you are just starting out, or already established on social media, Unlabel can help build your audience or deepen the relationship you have with them by showcasing your work on our marketplace. Your audience will be able to view and purchase products you physically review or virtually curate through your Unlabel Creator Profile.
                        </div>
                    </div>
                </div>
                <div class="col col--right">
                    <div class="invite__listItem">
                        <h3 class="title title--small uppercase-upper">Tryout Products</h3>
                        <div class="invite__listItemDesc">
                            You'll be able to rent or receive gifted products that are shipped directly to you.
                        </div>
                    </div>
{% comment %}                    <div class="invite__listItem">
                        <h3 class="title title--small uppercase-upper">Create Content. Always Get Paid.</h3>
                        <div class="invite__listItemDesc">
                            You will always be monetarily compensated for every piece of content you create through Unlabel.
                        </div>
                    </div>{% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <section class="triptych color-context color-context--creators">
        <div class="triptych__bg"></div>
        <div class="container container--m-pad">
            <div class="triptych__wrapper triptych__wrapper--wider triptych__wrapper--taller">
                <header class="triptych__header">
                    <h2 class="title title--caps title--oneWordPerLine">Join our creators</h2>
                </header>
                <div class="triptych__content">
                    <ul class="cols cols--m-3">
                        {% for obj in linklists.creators.links limit:3 %}
                            {% include 'triptych-block' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="signupForm" class="invite__register">
        <div class="invite__descContainer">
            <div style="" class="container container--medium">
                <div class="desc">
                    <div class="final-message-success"></div>
                    <div class="final-message-error"></div>
                </div>
            </div>
        </div>
        <div class="container container--narrow container--pad unlabel-form">
            <div class="invite__registerTitleContainer">
                <h2 class="title title--small">Join Unlabel in a few steps</h2>
            </div>
            <form action="http://unlabel.us11.list-manage.com/subscribe/post-json?u=55bc6223b0a7d78f0a89513be&amp;id=7c4bd0eeb7&c=?" class="invite__registerForm" id="Influencer_register_form" method="get" name="Influencer_register_form">
                <div class="form__row form__row--m-2">
                    <div class="form-group form__group">
                        <label class="form__label control-label required" for="id_first_name">First Name</label>
                        <div class="form__field">
                            <input class="form-control" id="MERGE1" name="MERGE1" type="text" size="25" required>
                        </div>
                    </div>
                    <div class="form-group form__group">
                        <label class="form__label control-label required" for="id_last_name">Last Name</label>
                        <div class="form__field">
                            <input class="form-control" id="MERGE2" name="MERGE2" type="text" size="25" required>
                        </div>
                    </div>
                </div>
                <div class="form__row form__row--m-2">
                    <div class="form-group form__group">
                        <label class="form__label control-label required" for="instagram_url">Instagram URL</label>
                        <div class="form__field">
                            <input class="form-control" type="url" autocapitalize="off" autocorrect="off" name="MERGE3" id="MERGE3" size="25" required>
                        </div>
                    </div>
                    <div class="form-group form__group">
                        <label class="form__label control-label required" for="id_email">Email</label>
                        <div class="form__field">
                            <input class="form-control" autocapitalize="off" autocorrect="off" size="25" id="MERGE0" name="MERGE0" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="form__actions">
                    <button class="cta cta--dark" name="submit" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //Get the messages div.
    var formWrapper = $('#signupForm .unlabel-form');

    // var formTitle = $('#signupForm .form-text');

    var formMessagesSuccess = $('#signupForm .final-message-success');
    var formMessagesError = $('#signupForm .final-message-error');
    
    function register($form) {
        jQuery.ajax({
            type: "GET",
            url: $form.attr('action'),
            data: $form.serialize(),
            cache       : false,
            dataType    : 'jsonp',
            contentType: "application/json; charset=utf-8",
            error       : function(err) { console.log('Could not connect to the registration server. Please try again later.'); },
            success     : function(data) {
                if (data.result != "success") {
                
                    console.log('Subscription unsuccessful.');

                    $(formMessagesError).addClass('show');
                    $(formMessagesError).html("An error has occurred. This might be caused because you already have subscribed to our newsletter. If that's not the case, please try again.");
              
                } else {

                    console.log('Successfully subscribed!');
                                
                    $(formMessagesError).removeClass('show');
                    $(formMessagesError).addClass('hide');

                    $(formWrapper).addClass('hide');
                    // $(formTitle).addClass('hide');

                    $(formMessagesSuccess).addClass('show');
                    $(formMessagesSuccess).html("Thank you for signing up! </br> Someone from the Unlabel Team will be in touch soon.");

                }
            }
        });
    }

    // waits for form to appear rather than appending straight to the form. Also helps if you have more than one type of form that you want to use this action on.
    jQuery(document).on('submit', '#Influencer_register_form', function(event) {
        try {
          //define argument as the current form especially if you have more than one
          var $form = jQuery(this);
          // stop open of new tab
          event.preventDefault();
          // submit form via ajax
          register($form);
        } catch(error){ console.log('error');}
    });
</script>