<div class="register">
    <section class="register__header">
        <div class="container container--narrow">
            <h2 class="register__headerTitle title title--small">Reset your password</h2>
            <p>We will send you an email to reset your password. Just email to request a change at<a class="link" href="mailto:support@unlabel.us">support@unlabel.us</a> with your first and last name.</p>
        </div>
    </section>
{% comment %}    <hr>
    <section class="register__main">
        <div class="container container--narrow">

            {% form 'recover_customer_password' %}
                {{ form.errors | default_errors }}
                
                <div class="form form--m-2 form-stacked">
                    <div class="form__row">
                        <div class="form-group form__group">
                            <label class="form__label control-label required" for="RecoverEmail" >Your Email</label>
                            <div class="form__field">
                                <input type="email" name="email" id="RecoverEmail" class="form-control" {% if form.email %} value="{{ form.email }}"{% endif %}>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form__actions">
                        <button class="cta cta--dark" name="registration_submit" type="submit">Submit</button>
                    </div>
                    <p class="form__alternative">Remember your password? <a class="link" href="/account/login/">Log in</a></p>
                </div>
            {% endform %}
        </div>
    </section>{% endcomment %}
</div>
    
