<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

    {% comment %}
      Avoid accessing search.results before the opening paginate tag.
      If you do, the pagination of results will be broken.
    {% endcomment %}
    {% paginate search.results by 10 %}
        <header class="results__header">
            <div class="container">
                <form action="/search" class="search-form" method="get" role="search">
                    <input type="hidden" name="type" value="product">
                    <div class="search-form__wrapper">
                        <fieldset class="search-form__fieldset">
                            <div class="search-form__field">
                                <label class="search-form__label" for="id_q">Search for products on Unlabel</label> 

                                <input class="form-control" id="id_q" name="q" placeholder="Search " aria-label="Search Unlabel" tabindex="1" type="search" value="{{ search.terms | escape }}">
                            </div>
                            <button class="search-form__submit" type="submit">
                                <span class="fonticon fonticon--box fonticon--magnifyingglass"></span>
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </header>

        {% if search.performed %}
            <nav class="results__nav">
                <ul class="results__navList">
                    <li class="results__navItem">
                        <a class="results__navLink is-active" href="/search/?q={{ search.terms | escape }}">Products</a>
                    </li>
                </ul>
            </nav>
            <section class="results__main">
                <div class="grid2 color-context color-context--products">
                {% if search.results_count == 0 %}
                    <p class="missing">
                        No products found for "<strong>{{ search.terms }}</strong>"
                    </p>
                {% else %}
                    <p class="results__count"><strong>{{ search.results_count }}</strong> <span>products found</span></p>
                    <ol class="grid2__list">
                        {% for product in search.results %}
                        <li class="grid2__item">
                            {% include 'product-grid-item' %}
                        </li>
                        {% endfor %}
                    </ol>
                    {% include 'unlabel-paginate' %}
                {% endif %}
                </div>
            </section>
        {% endif %}
    {% endpaginate %}

{% else %}
    {% include 'respond' %}
    {% layout none %}
{% endunless %}
